POSTGRES_URL="postgres://insiit:insiit@db:5432/insiit"
GOOGLE_APPLICATION_CREDENTIALS="./service_account.json"
GOOGLE_CLOUD_PROJECT="<your-firebase-project-name>"
PORT=3700
IMAGE_DIRECTORY="./images"
POSTGRES_USER="insiit"
POSTGRES_PASSWORD="insiit"
POSTGRES_DB="insiit"
